@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    background-color: #ffffff;
    color: #0c0c0c;
}

.Name{
    width:200px;
    transform: translate(30%, 100%);
    align-self: center;
}

.Drop_DownP{
    transform: translateX(1120%);
    width: 8%;
}
.DropDownIcon{
    transform: translate(90px, -30px);
    visibility: visible;
    transition: visibility 0s, opacity 0.5s;
}

.Projects{
    transform: translateY(-33%);
    cursor: pointer;
}

.Plang{
    transform: translateY(-50%);
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s;
}
.Github{
    transform: translateX(-80%);
}

.Up{
    transform: translate(283%, -140%);
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s;
}