:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: var(--bg-color);
  position: relative;
}

.content {
  position: relative;
}

.content img {
  width: 100vw;
}

.Main {
  position: absolute;
  width: 100vw;
  height: 140vh; /* Corrected height value */
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.027); /* Semi-transparent white */
}

